h1 {
    color: white;
    font-size: 60px;
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
}
h3 {
    color: white;
}
p {
    color: white;
    font-family: 'Archivo Narrow', sans-serif;
} 
.welcome {
    font-size: 40px;
}

a {
    color: wheat;
}

#bestthing {
    color: white;
}